<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smart School</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css" rel="stylesheet">
    <style>
        h1{
        color:#469114;
        text-align: center;
        font-size: 28px;
        margin-bottom: 20px;
        }
        header {
            background-color:#37eafa; /* Blue color for header */
            color: white; /* Text color */
            padding: 10px;
        }

        .block-title {
            background-color:#37eafa; /* Aqua color for block titles */
            padding: 10px;
            text-align: center;
        }

        .form-section {
            margin-bottom: 20px;
        }
        .save{
          background-color:#37eafa;
		  color: white;
		  padding: 16px 20px;
		  margin: 8px 0;
		  border: none;
		  cursor: pointer;
		  width: 100%;
		  opacity: 0.9;
        }
    </style>
</head>
<body>
<h1>SMART SCHOOL</h1>
   <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Staff Details</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="#">Staff Attendance</a>
        <a class="nav-link" href="#">Biometric Attendance</a>
        <a class="nav-link" href="#">feedback</a>
        <a class="nav-link" href="#">staff leaves</a>
        <a class="nav-link" href="#">staff</a>
        <a class="nav-link" href="#">Report</a>
      </div>
    </div>
  </div>
</nav>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <form action="/staff-details" method="post">
                    <div class="block-title">Staff Details</div>
                    <div class="form-section row">
                        <div class="col-3">
                            <div class="form-group">
                                <label for="employmentStatus">Employment Status</label>
                                <select class="form-control" id="employmentStatus" name="employmentStatus">
                                    <option value="full time">Full Time</option>
                                    <option value="part-time">Part-Time</option>
                                    <option value="contract">Contract</option>
                                    <option value="temporary">Temporary</option>
                                </select>
                                <label for="designation">Designation</label>
                                <select class="form-control" id="designation" name="designation">
                                    <option value="select">Select</option>
                                    <option value="part-time">Part-Time</option>
                                    <option value="contract">Contract</option>
                                    <option value="temporary">Temporary</option>
                                </select>
                                <label for="trainedAs">Trained as</label>
                                <select class="form-control" id="trainedAs" name="trainedAs">
                                    <option value="select level">Select Level</option>
                                    <option value="50">50</option>
                                    <option value="70">70</option>
                                    <option value="100">100</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-group">
                                <label for="staffType">Staff Type</label>
                                <select class="form-control" id="staffType" name="staffType">
                                    <option>Teaching</option>
                                    <option>Administrative</option>
                                    <option>Support</option>
                                </select>
                                <label for="qualificationType">Qualification Type</label>
                                <select class="form-control" id="qualificationType" name="qualificationType">
                                    <option value="teach">Teach</option>
                                    <option value="non-tech">Non-Tech</option>
                                    <option value="support">Support</option>
                                </select>
                                <label for="ctet">CTET Qualified</label>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="ctet" id="ctetYes" value="true">
                                    <label class="form-check-label" for="ctetYes">Yes</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="ctet" id="ctetNo" value="false">
                                    <label class="form-check-label" for="ctetNo">No</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-group">
                                <label for="staffDepartment">Staff Department</label>
                                <select class="form-control" id="staffDepartment" name="staffDepartment">
                                    <option value="department1">Department 1</option>
                                    <option value="department2">Department 2</option>
                                    <option value="department3">Department 3</option>
                                </select>
                                <label for="educationQualification">Education Qualification</label>
                                <select class="form-control" id="educationQualification" name="educationQualification">
                                    <option value="graduate">Graduate</option>
                                    <option value="10th">10th</option>
                                    <option value="puc">PUC</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-group">
                                <label for="employmentCategory">Employment Category</label>
                                <select class="form-control" id="employmentCategory" name="employmentCategory">
                                    <option value="select category">Select Category</option>
                                    <option value="any">Any</option>
                                    <option value="professional">Professional</option>
                                </select>
                                <label for="accessLevel">Access level</label>
                                <select class="form-control" id="accessLevel" name="accessLevel">
                                    <option value="admin">Admin</option>
                                    <option value="user">User</option>
                                    <option value="other">Other</option>
                                </select>
                            </div>
                        </div>
                    </div>
            </div>
            <div class="col-12">
                <div class="block-title">Personal Details</div>
                <div class="form-section row">
                    <div class="col-3">
                        <div class="form-group">
                            <label for="firstName">First Name</label>
                            <input type="text" class="form-control" id="firstName" name="firstName">
                            <label for="emergency">Emergency ContactNo</label>
                            <input type="text" class="form-control" id="emergency" name="emergencyContactNo">
                            <label for="permanentAddress">Permanent Address</label>
                            <textarea class="form-control" id="permanentAddress" rows="3" name="permanentAddress"></textarea>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group">
                            <label for="middleName">Middle name</label>
                            <input type="text" class="form-control" id="middleName" name="Middlename">
                            <div class="form-group">
                                <label>Gender</label><br>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="gender" id="male" value="Male">
                                    <label class="form-check-label" for="male">Male</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="gender" id="female" value="Female">
                                    <label class="form-check-label" for="female">Female</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="gender" id="other" value="Other">
                                    <label class="form-check-label" for="other">Other</label>
                                </div>
                                <br>
                                <label for="correspondingAddress">Corresponding Address</label>
                                <textarea class="form-control" id="correspondingAddress" rows="3" name="CorrespoindingAddress"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group">
                            <label for="lastName">Last Name</label>
                            <input type="text" class="form-control" id="lastName" name="lastName">
                            <label for="dateOfBirth">Date of Birth</label>
                            <input type="text" class="form-control" id="dateOfBirth" name="dateOfBirth">
                            <label for="religion">Religion</label>
                            <select class="form-control" id="religion" name="religion">
                                <option value="Hindu">Hindu</option>
                                <option value="Muslim">Muslim</option>
                                <option value="Other">Other</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group">
                            <label for="mobileNo">Mobile No</label>
                            <input type="text" class="form-control" id="mobileNo" name="mobileNo">
                            <label for="email">Email id</label>
                            <input type="text" class="form-control" id="email" name="emailid">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="block-title">Other Details</div>
                <div class="form-section row">
                    <div class="col-3">
                        <div class="form-group">
                            <label for="aadharNo">Aadhar No</label>
                            <input type="text" class="form-control" id="aadharNo" name="aadharNo">
                            <label for="salaryPayType">Salary Pay Type</label>
                            <!-- Radio buttons for salary pay type -->
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="salaryPayType" id="consolidate" value="Consolidate">
                                <label class="form-check-label" for="consolidate">Consolidate</label>
                            </div><br>
        
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="salaryPayType" id="pay" value="Pay">
                                <label class="form-check-label" for="pay">Pay</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group">
                            <label for="panNo">Pan No</label>
                            <input type="text" class="form-control" id="panNo" name="panno">
                            <label for="governmentId">Government ID</label>
                            <input type="text" class="form-control" id="governmentId" name="governmentId">
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group">
                            <label for="dateOfJoining">Date of Joining</label>
                            <input type="text" class="form-control" id="dateOfJoining" name="dateOfJoining">
                            <label for="citizenship">Citizenship</label>
                            <input type="text" class="form-control" id="citizenship" name="citizenShip">
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group">
                            <label for="staffReferenceId">Staff Reference ID</label>
                            <input type="text" class="form-control" id="staffReferenceId" name="staffReferenceId">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
    <button type="submit" class="save">Save and Continue</button>
   </div>
    </form>
</body>
</html>
